<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         mapTestClassNameToCoveredClassName="true"
         bootstrap="vendor/autoload.php"
         strict="true"
         verbose="true"
         colors="true">

    <testsuites>
        <testsuite name="MemcacheBackend">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="ZEND_CACHE_TAGGING_BACKEND_MEMCACHED1_PORT" value="35111"/>
        <const name="ZEND_CACHE_TAGGING_BACKEND_MEMCACHED1_HOST" value="localhost"/>
        <const name="ZEND_CACHE_TAGGING_BACKEND_MEMCACHED2_PORT" value="35112"/>
        <const name="ZEND_CACHE_TAGGING_BACKEND_MEMCACHED2_HOST" value="localhost"/>
    </php>
</phpunit>
